@media (max-width: 1480px) {
  .hero-text{
    padding-left: 80px !important;
  }
}

@media(max-width:1330px) {
  .hero-info{
    ul{
      li{
        width: 100% !important;
      }
    }
  }
  .firstContainer{
    top: 10% !important;
  }
}
@media(max-width:1150px) {
  .brief{
    font-size: 1em !important;
  }
}

@media (max-width:991px) {
  .firstContainer{
    top: 0 !important;
  }
  .hero-text{
    padding: 0 !important;
    p{
      width: 100% !important;
    }
  }
  .frame{
    padding: 0 !important;
  }
  .hero-info{
    margin-left: 0 !important;

    ul{
      li{
        width: 100% !important;
        padding: 10px !important;
        font-size: 1.8em !important;
        margin-top: 15px !important
      }
    }
  }
  .heroright{
    float: left !important;
    width: 100%;
  }
  .onepage-pagination{
    display: none;
  }
  .hero-btn{
    width: 60% !important;
    bottom: -20% !important;
  }
}
@media(max-width:618px) {
  .hero-info {
    ul {
      display: none;
    }
  }
  .hero-btn{
    width: 80% !important;
    position: relative !important;
    margin-top: 20px !important;
  }
}
@media(max-height: 850) {
  .firstContainer{
    top: 10% !important;
  }
}

@media (max-width: 500px){
  .frame{
    h1{
      font-size: 3em !important;
    }
  }
  .hero-text{
    h3{
      font-size: 1.1em !important;
    }
  }
  .brief{
    font-size: 0.9em !important;
  }
  .firstContainer{
    top: 2% !important;
    //margin-top: -70px !important;
  }
}

@media(max-height: 850px) and (max-width: 1380px) {
  .firstContainer{
    top: 3% !important;
  }
  .hero-text{
    h1{
      font-size: 3.9em !important;
    }
    .typeTitle{
      font-size: 1.1em !important;
    }
  }
  .brief{
    font-size: 1.05em !important;
  }
}

@media (max-height: 620px) and (max-width: 400px) {
  .brief{
    display: none !important;
  }
}
