$font_family: 'Raleway', sans-serif;
$frameBorderThickness: 9px;
$mainblue: #262DC1;
$heroh1: 5.5em;
$briefAnimationTime: 0.3s;
$heroBtnAnimationTime: 5.5s;
$menuIconAnimationTime: 6s;
$firstPopAnimationTime: 6.5s;
$secondPopAnimationTime: 6.8s;
$thirdPopAnimationTime: 7s;
