@import "variables";
@import "responsive";
@import "typed";
@import "animations";
@import "mixins";
*{
	font-family: $font_family;
}
a{
	text-decoration: none;
	color: $mainblue;
}
a:hover{
	text-decoration: none;
}
a:active, a:visited{
	color: $mainblue;
}
#particles-js{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.frameHolder{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.frame{
	position: relative;
	width: 95%;
	height: 90%;
	border: $frameBorderThickness solid $mainblue;
	padding: 20px;
	color: $mainblue;
	animation: frameFadeIn 0.4s linear;
	-webkit-animation: frameFadeIn 0.4s linear;
	-moz-animation: frameFadeIn 0.4s linear;
	overflow: hidden;
	h1{
		font-size: $heroh1;
	}
}
.firstContainer{
	position: relative;
	top: 20%;
}
.hero-text{
	float: left;
	padding-left: 120px;
	h3{
		margin-left: 10px;
	}
	p{
		margin-top: 50px;
		width: 80%;
		word-wrap: break-word;
		font-size: 1.03em;
	}
}
.heroright{
	float: right;
	text-align: center;
	position: relative;
}
.brief{
	// animation: fadeUp $briefAnimationTime ease;
	// -webkit-animation: fadeUp $briefAnimationTime ease;
	// -moz-animation: fadeUp $briefAnimationTime ease;
}
.hero-btn{
	position: absolute;
	bottom: -50%;
	right: 50%;
	transform: translateX(50%);
	width: 200px;
	height: 50px;
	border: 3px solid $mainblue;
	font-size: 1.7em;
	line-height: 40px;
	text-align: center;
	background: transparent;
	// animation: buttonFadeUp $heroBtnAnimationTime ease;
	// -webkit-animation: buttonFadeUp $heroBtnAnimationTime ease;
	// -moz-animation: buttonFadeUp $heroBtnAnimationTime ease;
	//box-shadow: 0px 1px 1px 0px $mainblue;
}
.rollbackButton { //proba onog buttona sa efektom iz component.css
	background: #fff !important;
	border: 3px solid $mainblue;
	width: 200px;
	height: 50px;
	text-align: center;
	font-size: 1.4em;
}
.menu-icon{
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 3.5em;
	cursor: pointer;
	// animation: fadeUp $menuIconAnimationTime ease;
	// -webkit-animation: fadeUp $menuIconAnimationTime ease;
	// -moz-animation: fadeUp $menuIconAnimationTime ease;
	transition: 0.2s ease;
}
.menu-icon:hover{
	opacity: 0.7;
}
.hero-info{
	margin-left: 100px;
	position: relative;
	ul{
		padding: 50px;
		list-style-type: none;
		li{
			padding: 7px;
			font-size: 1.7em;
			margin-top: 10px;
			border: 2px solid $mainblue;
			width: 50%;
		}
	}
}
.firstPop{
	// animation: fadeUp $firstPopAnimationTime ease;
	// -webkit-animation: fadeUp $firstPopAnimationTime ease;
	// -moz-animation: fadeUp $firstPopAnimationTime ease;
}
.secondPop{
	// animation: fadeUp $secondPopAnimationTime ease;
	// -webkit-animation: fadeUp $secondPopAnimationTime ease;
	// -moz-animation: fadeUp $secondPopAnimationTime ease;
}
.thirdPop{
	// animation: fadeUp $thirdPopAnimationTime ease;
	// -webkit-animation: fadeUp $thirdPopAnimationTime ease;
	// -moz-animation: fadeUp $thirdPopAnimationTime ease;
}
.arrowholder{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
//-------------------------------2 sekcija
.dot1, .dot2, .dot3, .dot4{
	position: absolute;
	width: 16px;
	height: 16px;
	background: transparent;
	border: 3px solid $mainblue;
	@include border-radius(50%);
	cursor: pointer;
	.text{
		margin-top: 10px;
		margin-left: 10px;
		font-size: 1.2em;
	}
}
.dot1{
	left: 300px;
	top: 200px;
}
.dot2{
	left: 700px;
	top: 500px;
}
.dot3{
	left: 900px;
	top: 250px;
}
.dot4{
	left: 1100px;
	top: 450px;
}
.centerbtn{
	width: 300px;
	height: 300px;
	background: transparent;
	@include border-radius(50%);
	border: 5px solid $mainblue;
	cursor: pointer;
	font-size: 3.5em;
}

//-------------------------------3 sekcija
//TODO: animate hamburger, 	build up responsiveness
.flexbox{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.projectcontainer{
	width: 100%;
	text-align: center;
}
.picturebox{
	width: 100%;
	height: 65vh;
	overflow: hidden;
	border: 3px solid $mainblue;
	img{
		width: 700px;
		height: 700px;
		transition: 0.3s ease;
	}
	img:hover{
		transform: scale(1.1);
	}
}
