@import "variables";
@import "responsive";
@import "typed";
@import "animations";
*{
	font-family: $font_family;
}
a{
	text-decoration: none;
	color: $mainblue;
}
u{
	text-decoration: none;
  border-bottom: 2px solid $mainblue;
}
a:hover{
	color: red !important;
	u{
		border-bottom-color: red;
	}
}
a:hover{
	text-decoration: none;
}
a:active, a:visited{
	text-decoration: none !important;
	color: $mainblue;
}
#particles-js{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.frameHolder{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.frame{
	position: relative;
	width: 95%;
	height: 90%;
	border: $frameBorderThickness solid $mainblue;
	padding: 20px;
	color: $mainblue;
	animation: frameFadeIn 0.4s linear;
	-webkit-animation: frameFadeIn 0.4s linear;
	-moz-animation: frameFadeIn 0.4s linear;
	overflow: hidden;
	h1{
		font-size: $heroh1;
	}
}
.firstContainer{
	position: relative;
	top: 20%;
}
.hero-text{
	float: left;
	padding-left: 120px;
	h3{
		margin-left: 10px;
	}
	p{
		margin-top: 50px;
		width: 80%;
		word-wrap: break-word;
		font-size: 1.12em;
		font-weight: bold;
	}
}
.heroright{
	float: right;
	text-align: center;
	position: relative;
}
.brief{
	opacity: 0;
	// animation: fadeUp $briefAnimationTime ease;
	// -webkit-animation: fadeUp $briefAnimationTime ease;
	// -moz-animation: fadeUp $briefAnimationTime ease;
}
.hero-btn{
	display: none;
	position: absolute;
	bottom: -20%;
	right: 50%;
	transform: translateX(50%);
	width: 200px;
	height: 50px;
	border: 3px solid $mainblue;
	font-size: 1.7em;
	line-height: 40px;
	text-align: center;
	background: transparent;
	// animation: buttonFadeUp $heroBtnAnimationTime ease;
	// -webkit-animation: buttonFadeUp $heroBtnAnimationTime ease;
	// -moz-animation: buttonFadeUp $heroBtnAnimationTime ease;
	//box-shadow: 0px 1px 1px 0px $mainblue;
}
.menu-icon{
	opacity: 0;
	display: none;
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 3.5em;
	cursor: pointer;
	// animation: fadeUp $menuIconAnimationTime ease;
	// -webkit-animation: fadeUp $menuIconAnimationTime ease;
	// -moz-animation: fadeUp $menuIconAnimationTime ease;
	transition: 0.2s ease;
}
.menu-icon:hover{
	opacity: 0.5 !important;
}
.hero-info{
	margin-left: 100px;
	position: relative;
	ul{
		padding: 50px;
		list-style-type: none;
		li{
			padding: 7px;
			font-size: 1.7em;
			margin-top: 11px;
			border: 2px solid $mainblue;
			width: 50%;
		}
	}
}
.firstPop{
	opacity: 0;
	// animation: fadeUp $firstPopAnimationTime ease;
	// -webkit-animation: fadeUp $firstPopAnimationTime ease;
	// -moz-animation: fadeUp $firstPopAnimationTime ease;
}
.secondPop{
	opacity: 0;
	// animation: fadeUp $secondPopAnimationTime ease;
	// -webkit-animation: fadeUp $secondPopAnimationTime ease;
	// -moz-animation: fadeUp $secondPopAnimationTime ease;
}
.thirdPop{
	opacity: 0;
	// animation: fadeUp $thirdPopAnimationTime ease;
	// -webkit-animation: fadeUp $thirdPopAnimationTime ease;
	// -moz-animation: fadeUp $thirdPopAnimationTime ease;
}
.fourthPop{
	opacity: 0;
}
.arrowholder{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
//-------------------------------2 sekcija


//-------------------------------3 sekcija
.onepage-pagination li a{
	display: none !important;
}